.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

  }
  
  .search-input {
    width: 333px;
    height: 40px;
    Padding:4px, 8px, 4px, 20px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #C5C5C580
  }

  .search-input::placeholder {
    color: #888;
   padding: 10px;
  }
  

  