.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height:45px;
    top: 95px;
    left: 30px;
    gap: 24px;
    opacity: 0px;


  
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    overflow: auto;
    height: 85vh; 

 
  }

  .title{
    font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 36px;
color:  #000000;
margin-left: 5px;


  }

  .search-and-filter{


    display: flex;
    align-items: center;
  }

  

.pagination {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;

  margin-top: 50px;
  justify-content: center;
}



.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 18px;
  font-size: 16px;
  color: #0F1729;
}

.btn.active {
  font-weight: bold;
}

.data-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card.selected {
  border: 2px solid #007bff; 
  background-color: #e9f7fe; 
}

