
<div class="header">
    <h1 class="title">List of Places</h1>
    <div class="search-and-filter">
        <app-search></app-search>
        <app-filter></app-filter>
      </div>
</div>

<div class="container">
    <div *ngFor="let location of locations" 
         [ngClass]="{'selected': isSelected(location)}" 
         (click)="selectLocation(location)">
      <app-location-card [location]="location" [isSelected]="isSelected(location)"></app-location-card>
    </div>
  </div>
  
  

  

<div 
class="pagination"
[ngClass]="{ 'pagination-large': pages.length > pageThreshold }">
<button class="btn pagbtn" (click)="onBackClick()">
 <i class="fas fa-arrow-left"></i>
</button>
<button
  class="btn "
  *ngFor="let page of pages"
  [class.active]="page === currentPage"
  (click)="onPageChange(page)"
>
  {{ page }}
</button>
<button class="btn  pagbtn" (click)="onNextClick()">
  <i class="fas fa-arrow-right"></i>
</button>
</div>
