<div class="form-container">
    <h1 class="form-title">Added Features</h1>
    <div class="form-group">
     
      <input type="text" id="opening-hours" class="form-control" placeholder="Opening Hours"/>
    </div>

    <div class="flex-container">
        <div class="form-group np">
    
            <input type="text" id="national-phone" class="form-control" placeholder="National Phone Number" />
          </div>
          <div class="form-group ip">
           
            <input type="text" id="international-phone" class="form-control" placeholder="International Phone Number" />
          </div>
    </div>
   
    <div class="form-group">
     
      <input type="text" id="website" class="form-control" placeholder="Website" />
    </div>
    <div class="form-group">
      
      <input type="text" id="rating" class="form-control" placeholder="Rating"/>
    </div>
    <div class="form-group">
     
      <select id="pet-friendly" class="form-control">
        <option value="yes">Pet Friendly</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
  
  </div>
  